.credits-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.credits-label {
  display: none;
}

.credits-container:hover .credits-label {
  display: block;
  animation: transformIn 0.3s;
}

@keyframes transformIn {
  from {
    opacity: 0;
    transform: translate(20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.github-icon {
  margin-left: 0.5em;
}