.App {
  padding-top: 2em;
  max-height: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.header-container {
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.header {
  font-size: 3.7em;
  font-weight: bold;
}

.header-icon {
  margin-top: 0.5em;
}

.description-text {
  font-size: 1.2em;
  width: 50%;
  margin: 1em;
  text-align: center;
  line-height: 1.7em;
}

.instruction-text {
  font-size: 1.2em;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
}

.home-page-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60%;
}

.button-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.button-group-label {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.type-button {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 0.4em;
  padding: 0.9em;
  padding-top: 1em;
  border-radius: 0.4em;
  cursor: pointer;
  color: #484848;
  background-color: white;
  box-shadow: 2px 2px 2px -2px #b3b3b3;
}

.type-button .icon {
  margin-right: 0.7em;
}

.selected {
  background-color: #e4e4e4;
}

.type-button:hover {
  background-color: #e4e4e4;
}

.svada-setning {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  max-width: 70%;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-right: auto;
  margin-left: auto;
}

.svada-word {
  font-size: 2.5em;
  color: #484848;
  margin-left: 0.15em;
  margin-right: 0.15em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.svada-word:hover {
  color: #a4a4a4;
}

.svada-word-selected {
  color: #a4a4a4;
}

.not-assigned-word {
  width: 7em;
  height: 1em;
  border-bottom: 1px solid #484848;
}

.dot {
  height: 0.4em;
  width: 0.4em;
  background-color: #484848;
  border-radius: 50%;
}

.word-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 1em auto;
}

.word {
  font-size: 1.1em;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.5em;
  background-color: white;
  margin: 0.3em;
  border-radius: 0.4em;
  color: #484848;
  box-shadow: 2px 2px 2px -2px #b3b3b3;
}

.word:hover {
  background-color: #e4e4e4;
}

.finished-buttons {
  display: flex;
  max-width: 40%;
  justify-content: center;
  margin: 0 auto;
}