.container {
  display: flex;
  justify-content: flex-end;
}

.change-type-button {
  position: absolute;
  height: 3em;
  width: 3.5em;
  margin: 2em;
  cursor: pointer;
}

.button-line {
  background-color: #484848;
  height: 0.2em;
  margin: 0.5em;
}

.modal {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(0, -0.5em); }
  to { opacity: 1; transform: translate(0, 0); }
}

.modal .hide {
  display: none;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15em auto;
  height: 10em;
  width: 60%;
}
